<div class="btn-group text-left">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		Acciones
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><%= link_to 'Ver', object %></li>
		<li><%= link_to 'Modificar', edit_polymorphic_path(object) %></li>
		<% if object.class == Invoice %>
			<li><%= link_to 'Eliminar', object, method: :delete, data: { confirm: '¿Está seguro?' } %></li>
		<% end %>
	</ul>
</div>