<div>
	<ul>
		<li><%= link_to 'Listado de Facturas', invoices_path %></li>
		<li><%= link_to 'Listado de Materiales', items_path %></li>
		<li><%= link_to 'Listado de Proveedores', providers_path %></li>
		<li><%= link_to 'Entrega de Materiales', items_deliver_path %></li>
	</ul>
</div>