<h3>To - Do</h3>
<ol>
	<li>Paginación</li>
	<li>Pagina de actualizacion de inventario (actualizacion con textfield)</li>
	<li>Cerrar sesiones por tiempo</li>
	<li>Links de paginas a reportes</li>
	<li>Ajustes de la interfaz de proveedores</li>
	<li>Reportes
		<ul>
			<li>Materiales utilizados en el mes</li>
		</ul>
	</li>
</ol>
