<div class='row'>
	<div class='span5'>
		<h4>Productos mas utilizados</h4>
		<ul>
			<% Item.all.limit(5).each do |item|%>
				<li><%= "#{item.label} = #{item.stock}"%></li>
			<% end %>
		</ul>
	</div>
	<div class='span5'>
		<h4>Productos próximos a vencerse</h4>
		<ul>
			<% Item.all.limit(5).each do |item|%>
				<li><%= "#{item.label} = #{item.stock}"%></li>
			<% end %>
		</ul>
	</div>
	<div class='span5'>
		<h4>Productos bajos en existencia</h4>
		<ul>
			<% Item.all.limit(5).each do |item|%>
				<li><%= "#{item.label} = #{item.stock}"%></li>
			<% end %>
		</ul>
	</div>
</div>