<h2>Reporte Total</h2>

<div class='row'>
	<h4>Totales hasta el <%=Time.now.to_formatted_s(:short_date)%></h4>
	<p><b>Esta semana:</b> Bs. 25.000</p>
	<p><b>Esta Mes:</b> Bs. 340.000</p>
</div>
<div class='row'>
	<h4>Detalle por odontólogo</h4>
	<table class='table table-stripped'>
		<tr>
			<th>Nombre Odontólogo</th>
			<th>Total generado</th>
			<th>Total a cancelar</th>
		</tr>
		<tr>
			<td>Odontólogo 1</td>
			<td>20.000</td>
			<td>2.000</td>
		</tr>
		<tr>
			<td>Odontólogo 2</td>
			<td>3.000</td>
			<td>300</td>
		</tr>
		<tr>
			<td>Odontólogo 3</td>
			<td>50.000</td>
			<td>5.000</td>
		</tr>
	</table>
</div>