<h2>Reporte por Odontólogo</h2>

<div class='highlight row'>
	<div class='span5'>
		<p><b>Odontólogo: </b>Virgymar Tovar</p>
		<p><b>Cédula: </b>15.123.654</p>
	</div>
	<div class='span5'>
		<address>
		  <strong>Dirección</strong><br>
			Av. Luis Roche<br>
			Res. Altamira<br>
			Caracas, Venezuela<br>
		  <abbr title="Teléfono">T:</abbr> (212) 555-7890
		</address>
	</div>
</div>

<div class='row'>
	<div class='span12'>
		<h4>Totales hasta el <%=Time.now.to_formatted_s(:short_date)%></h4>
		<p><b>Esta semana:</b> Bs. 5000</p>
		<p><b>Esta Mes:</b> Bs. 6400</p>
	</div>
</div>
<h4>Detalle de actividades</h4>
<table class='table table-stripped'>
	<tr>
		<th>Paciente</th>
		<th>Fecha</th>
		<th>Actividad</th>
		<th>Comisión</th>
		<th></th>
	</tr>
	<tr>
		<td>Paciente 1</td>
		<td>14/06/2013</td>
		<td>Corrección de Caries</td>
		<td>BsF. 800</td>
		<td><i class='icon-remove'></i></td>
	</tr>
	<tr>
		<td>Paciente 2</td>
		<td>15/06/2013</td>
		<td>Colocación de Resinas</td>
		<td>BsF. 600</td>
		<td><i class='icon-remove'></i></td>
	</tr>
	<tr>
		<td>Paciente 3</td>
		<td>17/03/2013</td>
		<td>Implante</td>
		<td>BsF. 5000</td>
		<td><i class='icon-remove'></i></td>
	</tr>
</table>