<div>
	<%= form_tag items_deliver_path, method: :get do |f| %>
		<%= select_tag :item_id, grouped_options_for_select(get_grouped_options(Item.all), params[:item_id]), class: 'span6', prompt: t('helpers.select.prompt') %>
		<br>
		<%= button_tag 'Buscar', class: 'btn', name: :search%>
	<% end %>
</div>