<div class='span3 pull-right'>
	<table class='table table-condensed table-bordered'>
		<tr><th>Leyenda</th></tr>
		<tr class=''><td>Normal</td></tr>
		<tr class='warning'><td>Por debajo del nivel mínino</td></tr>
		<tr class='error'><td>Agotado</td></tr>
	</table>
</div>