// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Estandares de uso
// h3 para los titulos que identifican cada pagina

$headingsColor: #1f4c78;
$textColor: #444444;
@import "bootstrap";

body
{
	background-image: image_url('blue-gradient.png');
	background-repeat: repeat-x;
	background-color: #3377bb;
}

h1, h2
{
	text-align: center;
}

label
{
	font-weight: bold;
}

input.number, input.date
{
    text-align:right;
}

.navbar
{
	margin: 10px 0px
}

.header
{
	font-size: 125%;
	margin-bottom: 20px;

	ul
	{
		margin: 20px 0px;
	}

}

.content
{
	@include border-radius(5px);
	margin: 10px 0px;
	padding: 10px 10px;
	background-color: #ffffff;
}

.highlight
{
	@include border-radius(5px);
	padding: 10px;
	margin: 10px 0px;
	background-color: #dddddd;
}

.table
{
	caption
	{
		font-weight: bold;
		font-size: 100%;
	}

	tr th
	{
		background-color: #3377bb;
		color: #ffffff;
		text-align: center;
	}

	td
	{
		font-size: 90%;
		text-align: center;
	}
}
