<hr>
<div class='row'>
	<div class='span6 text-left'>
		<a href="mailto:ramses.lopez@gmail.com">ramses.lopez@gmail.com</a>
	</div>
	<div class='span6 text-right pull-right'>
		<i class='muted'>prototipo 0.1</i>
	</div>
</div>