<div class='header row'>
	<div class='span3'>
		<a class="brand" href="#">
			<%= image_tag 'logodentoa1.png'%>
		</a>
	</div>
	<div class='offset4'>
		<ul class="nav nav-pills">
			<li class='nav-link pull-right'><%= link_to 'Inventario', home_index_path%></li>
		</ul>
	</div>
</div>
