<div class='header row'>
	<div class='span3'>
		<a class="brand" href="#">
			<%= image_tag 'logodentoa1.png'%>
		</a>
	</div>
	<div class='offset4'>
		<ul class="nav nav-pills">
		  <li class='nav-link pull-right'><%= link_to 'Nueva Actividad', home_index_path%></li>
		  <li class='nav-link pull-right'><%= link_to 'Reporte por Odontólogo', home_report1_path%></li>
		  <li class='nav-link pull-right'><%= link_to 'Reporte Total', home_report2_path%></li>
		</ul>
	</div>
</div>
