<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">LOGO</a>
    <ul class="nav">
      <li class='nav-link'><%= link_to 'Nueva Actividad', home_index_path%></li>
      <li class='nav-link'><%= link_to 'Reporte por médico', home_report1_path%></li>
      <li class='nav-link'><%= link_to 'Reporte Total', home_report2_path%></li>
    </ul>
  </div>
</div>
<hr>