<div class='well'>
	<h3>To - Do</h3>
	<ol>
		<li><strike>Registro de movimientos
			<ul>
				<li>filtros
					<ul>
						<li>Por producto</li>
						<li>Por Usuario</li>
						<li>Por Fecha</li>
					</ul>
				</li>
			</ul></strike>
		</li>

		<li>javascript para inventario y deliver, que cambie de color el row segun el minimum_stock</li>
		<li>Agregar funcionalidad a alarmas de home_index, agregar progress bars</li>
		<li><strike>Paginación
			<ul>
				<li>Traces</li>
				<li>Items</li>
				<li>Providers</li>
				<li>invoices</li>
			</ul>
		</strike></li>
		<li><strike>Pagina de actualizacion de inventario (actualizacion con textfield)</strike></li>
		<li>Cerrar sesiones por tiempo</li>
		<li>Links de paginas a reportes</li>
		<li><strike>L&F CRUD proveedor
		<ul>
			<li>show</li>
			<li>edit</li>
			<li>create</li>
			<li>diccionario</li>
		</strike></ul>
		</li>
		<li>Eliminación logica de registros</li>
		<li>Reportes
			<ul>
				<li>Materiales utilizados en el mes
				<ul>
					<li>select items.label, count(*) from traces inner join items on traces.item_id = items.id where traces.type = '-' group by items.label order by count(*) desc</li>
				</ul>
				</li>
				<li>Productos por acabarse
				<ul>
					<li>listo, falta hacer página de reporte</li>
				</ul>
				</li>
				<li>Productos por vencerse
					<ul>
						<li>falta hacer la separacion por lote de los materiales</li>
					</ul>
				</li>
				<li><strike>Productos por comprados a proveedor
					<ul>
						<li>
							select items.label, invoice_items.item_price, invoice_items.created_at from invoice_items inner join invoices on invoices.id = invoice_items.invoice_id inner join items on invoice_items.item_id = items.id where invoices.provider_id = 1 order by 1;
						</li>
					</ul></strike>
				</li>
				<li><strike> Productos comprados a proveedor</strike></li>
			</ul>
		</li>
	</ol>
</div>