<div class='well'>
	<h3>To - Do</h3>
	<ol>
		<li>Agregar funcionalidad a alarmas de home_index, agregar progress bars</li>
		<li>Paginación</li>
		<li>Pagina de actualizacion de inventario (actualizacion con textfield)</li>
		<li>Cerrar sesiones por tiempo</li>
		<li>Links de paginas a reportes</li>
		<li><strike>L&F CRUD proveedor
		<ul>
			<li>show</li>
			<li>edit</li>
			<li>create</li>
			<li>diccionario</li>
		</strike></ul>
		</li>
		<li>Reportes
			<ul>
				<li>Materiales utilizados en el mes</li>
				<li>Productos por acabarse</li>
				<li>Productos por vencerse</li>
			</ul>
		</li>
	</ol>
</div>