<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">DentoSpaLaser</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Nueva Actividad</a></li>
      <li><a href="#">Reporte por médico</a></li>
      <li><a href="#">Reporte Total</a></li>
    </ul>
  </div>
</div>
<hr>